$text-color: #171d1c;
$bg-color: #fafafa;

$primary-color: #ef798a;
$secondary-color: #613f75;
$danger-color: #888;

@mixin font-noto {
  font-family: "Noto Serif", serif;
}

@mixin font-poppins {
  font-family: "Poppins", sans-serif;
}
