.art-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;

  .art {
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 8px;

    // .art-img {
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
      }
    // }
  }

  .uploaded-by {
    padding: 0.8rem;
    display: flex;
    justify-content: flex-start;

    img {
      margin-right: 10px;
      color: $text-color;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}
