nav {
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.123);
  position: relative;

  .navbar-toggler {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #333;
    font-size: 1.2rem;

    @include mobile-l {
      display: block;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-l {
      flex-direction: column;
    }
  }

  .heading {
    font-style: italic;
    @include font-noto;
    text-decoration: none;
    color: $primary-color;

    &:focus {
      color: $primary-color;
    }
  }

  .container .nav-menu {
    @include mobile-l {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        margin-top: 1rem;
        display: flex;
      }
    }

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-menu a {
    margin-right: 12px;
    text-decoration: none;
    color: #333;
  }

  .dropdown {
    @include mobile-l {
      display: none;
    }

    img {
      width: 25%;
      border-radius: 50%;
      margin-right: 8px;
    }

    .dropdown-content {
      position: absolute;
      top: 12%;
      right: 8%;
      z-index: 10;
      width: 240px;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 47%;
        height: 0px;
        width: 0px;
        border: 10px solid transparent;
        border-bottom-color: #fff;
        transform: translateX(-50%);
        // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);
      }
    }
  }
}

.dropdown-content {
  .divider {
    margin: 0 0 1rem 0;
  }
  .dropdown-content-user-info {
    padding: 1rem;

    h2 {
      font-size: 1rem;
      color: #333;
    }
    small {
      color: #555;
    }
  }

  ul {
    margin: 0 0 10px 0;
    list-style: none;

    a {
      font-size: 14px;
      transition: all 0.4s;
      color: #333;

      li {
        padding: 0.3rem 1rem;

        &:hover {
          background-color: rgba(0, 0, 0, 0.0523);
        }
      }
    }
  }
}

.dropdown-user-avatar {
  display: flex;
  align-items: center;

  .dropdown-toggler {
    color: #333;
    font-size: 0.8rem;
    font-weight: normal;
  }
}
