nav {
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);

  header {
    flex: 2;
    display: flex;
    align-items: center;

    h3 {
      color: $primary-color;
      font-style: italic;
      @include font-noto;
    }

    @include tablet {
      flex: 1;
    }

    .navbar-toggler {
      margin-right: 10px;
      color: #333;
      display: none;

      @include mobile-l {
        display: block;
      }
    }
  }

  .nav-menu {
    flex: 1;

    &.active {
      .nav-menu-list {
        display: flex;
      }
    }

    ul.nav-menu-list {
      @include mobile-l {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      li a {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .user-dropdown {
    position: relative;

    .user-avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        margin-right: 10px;
        color: #333;
      }

      img {
        margin-right: 5px;
        width: 15%;
        border-radius: 50%;

        @include mobile-l {
          display: none;
        }
      }
    }
  }

  .user-info-submenu {
    display: none;

    @include mobile-l {
      width: 100%;
      box-shadow: none;
    }

    position: absolute;
    width: calc(100% + 30px);
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    list-style: none;

    &.active-submenu {
      display: flex;

      @include mobile-l {
        a {
          background: #eee;
          padding: 0 !important;
        }
      }

      a {
        padding: 1rem;

        &:hover {
          background: rgba(0, 0, 0, 0.123);
        }
      }
    }
  }
}

.nav-menu.active {
  ul.nav-menu-list {
    @include mobile-l {
      display: flex;
      background: #fff;
      color: #fff;
      flex-direction: column;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      width: 100%;
      justify-content: flex-start;
      text-align: center;

      li {
        width: 100%;
        padding: 1rem 0;
        img {
          width: 10%;
        }
      }
    }
  }
}
