.progress-bar-container {
  height: 5px;
  width: 100%;
  border-radius: 8px;
  background: #eee;
  margin: 2rem 0;
  
  .progress {
    border-radius: 8px;
    background: $primary-color;
    height: 5px;
    width: 0%;
  }

  p {
    color: lighten($text-color, 20%);
  }
}
