@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

::selection {
  background: #ef798a;
  color: #fff;
}

.signup-section,
.login-section {
  background-color: #eee;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-section .signup-container,
.signup-section .login-container,
.login-section .signup-container,
.login-section .login-container {
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.signup-section .signup-container h1,
.signup-section .login-container h1,
.login-section .signup-container h1,
.login-section .login-container h1 {
  font-family: "Noto Serif", serif;
  color: #171d1c;
}

.form-group {
  margin: 1rem 0;
}

.form-controls {
  width: 100%;
  transition: all 0.4s;
  padding: 0.7rem 1rem;
  border: 1px solid #f7bdc6;
  border-radius: 8px;
  outline: none;
}

.form-controls:focus {
  border: 1px solid #ef798a;
}

.divider {
  background: rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  height: 1px;
  width: 100%;
}

.oauth {
  margin: 2.5rem 0;
}

.oauth h3 {
  font-family: "Noto Serif", serif;
  color: #171d1c;
}

.oauth .oauth-links {
  margin: 1rem 0;
}

.oauth a {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #171d1c;
  font-weight: 600;
}

.oauth a img {
  margin-right: 8px;
  width: 10%;
}

.signup-link,
.login-link {
  color: #171d1c;
  font-size: 0.8rem;
}

.signup-link a,
.login-link a {
  color: #ef798a;
  text-decoration: none;
}

.forgot-pass-link-container {
  margin: 1rem 0;
}

.forgot-pass-link-container .forgot-pass-link {
  color: #ef798a;
  font-size: 0.8rem;
}

.alert-error {
  padding: 1rem;
  border-radius: 8px;
  background: #b99dca;
  color: #613f75;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.alert-success {
  padding: 1rem;
  border-radius: 8px;
  background: #a5ffc7;
  color: #005822;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.btn-primary {
  padding: 1rem;
  background: #ef798a;
  border: none;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;
}

.btn-primary:disabled, .btn-primary[disabled] {
  background: #777;
}

.btn-primary:disabled:hover, .btn-primary[disabled]:hover {
  pointer-events: none;
  cursor: normal;
  background: #777;
}

.btn-primary:hover {
  background: #ea4b62;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: rgba(239, 121, 138, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.modal-backdrop .password-reset-link-container,
.modal-backdrop .upload-modal-container {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
}

.modal-backdrop .password-reset-link-container input,
.modal-backdrop .upload-modal-container input {
  margin-bottom: 1rem;
}

.modal-backdrop .password-reset-link-container .close-modal,
.modal-backdrop .upload-modal-container .close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

.modal-backdrop .password-reset-link-container h3 {
  color: #333;
  margin-bottom: 1rem;
}

.upload-modal-container {
  min-width: 400px;
}

.upload-modal-container h1 {
  font-family: "Noto Serif", serif;
  color: #171d1c;
  font-size: 200%;
  margin-bottom: 1rem;
}

.upload-modal-container .file-placeholder input {
  height: 0;
  width: 0;
}

.upload-modal-container .file-placeholder label .file-box {
  height: 100px;
  width: 100%;
  padding: 1rem;
  border: 5px dashed #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  cursor: pointer;
  margin-bottom: 1rem;
}

.upload-modal-container .file-placeholder label .file-box:hover {
  border-color: #333;
  color: #333;
}

nav {
  width: 100%;
  padding: 2rem;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav header {
  flex: 2;
  display: flex;
  align-items: center;
}

nav header h3 {
  font-weight: bold;
  color: #ef798a;
  font-style: italic;
  font-family: "Noto Serif", serif;
}

@media screen and (max-width: 768px) {
  nav header {
    flex: 1;
  }
}

nav header .navbar-toggler {
  margin-right: 10px;
  color: #333;
  display: none;
}

@media screen and (max-width: 768px) {
  nav header .navbar-toggler {
    display: block;
  }
}

nav .nav-menu {
  flex: 1;
}

nav .nav-menu.active .nav-menu-list {
  display: flex;
}

nav .nav-menu ul.nav-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 768px) {
  nav .nav-menu ul.nav-menu-list {
    display: none;
  }
}

nav .nav-menu ul.nav-menu-list li a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}

nav .user-dropdown {
  position: relative;
}

nav .user-dropdown .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .user-dropdown .user-avatar h3 {
  font-size: 100%;
  margin-right: 10px;
  color: #333;
}

nav .user-dropdown .user-avatar img {
  margin-right: 5px;
  width: 15%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  nav .user-dropdown .user-avatar img {
    display: none;
  }
}

nav .user-info-submenu {
  display: none;
  position: absolute;
  width: calc(100% + 30px);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);
  border-radius: 8px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  nav .user-info-submenu {
    width: 100%;
    box-shadow: none;
  }
}

nav .user-info-submenu.active-submenu {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav .user-info-submenu.active-submenu a {
    background: rgba(0, 0, 0, 0.0122);
    padding: 0 !important;
  }
}

nav .user-info-submenu.active-submenu a {
  padding: 1rem;
}

nav .user-info-submenu.active-submenu a:hover {
  background: rgba(0, 0, 0, 0.123);
}

@media screen and (max-width: 768px) {
  .nav-menu.active ul.nav-menu-list {
    display: flex;
    box-shadow: 0 20px 13px rgba(0, 0, 0, 0.0623);
    background: #fff;
    color: #fff;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: flex-start;
    text-align: center;
  }
  .nav-menu.active ul.nav-menu-list li {
    width: 100%;
    padding: 1rem 0;
  }
  .nav-menu.active ul.nav-menu-list li img {
    width: 10%;
  }
}

header {
  text-align: center;
  margin: 1rem 0;
}

header h1 {
  margin-top: 2rem;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 300%;
  color: #171d1c;
}

@media screen and (max-width: 425px) {
  header h1 {
    font-size: 190%;
  }
}

header h5 {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #445653;
  font-size: 100%;
}

@media screen and (max-width: 425px) {
  header h5 {
    font-size: 70%;
  }
}

header form {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-gap: 1rem;
}

@media screen and (max-width: 425px) {
  header form {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  header form input {
    margin-bottom: 1rem;
  }
}

.progress-bar-container {
  height: 5px;
  width: 100%;
  border-radius: 8px;
  background: #eee;
  margin: 2rem 0;
}

.progress-bar-container .progress {
  border-radius: 8px;
  background: #ef798a;
  height: 5px;
  width: 0%;
}

.progress-bar-container p {
  color: #445653;
}

.art-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}

.art-grid .art {
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 8px;
}

.art-grid .art img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.art-grid .uploaded-by {
  padding: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

.art-grid .uploaded-by img {
  margin-right: 10px;
  color: #171d1c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=styles.css.map */