@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;600;700&display=swap");
@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include font-poppins;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

::selection {
  background: $primary-color;
  color: #fff;
}

@import "auth";
@import "alert";
@import "buttons";
@import "modal";
