.search-bar {
  padding: 3rem 4rem;
  text-align: center;

  h1 {
    @include font-noto;
    font-size: 400%;
    font-style: italic;
    font-weight: bold;
    color: $text-color;
  }
}

.search-bar .search-area {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-gap: 12px;
  width: 70%;
  margin: 1rem auto;

  input {
    padding: 0.8rem;
    background: #fff;
    border-radius: 8px;
    outline: none;
    border: 2px solid $primary-color;
    width: 100%;
    transition: all 0.4s;

    &:focus {
      box-shadow: 0 0 10px lighten($primary-color, 5%);
    }
  }
}
