@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Quicksand:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

::selection {
  background: #ef798a;
  color: #fff;
}

nav {
  width: 100%;
  background: #fafafa;
}

nav .container {
  padding: 1.5rem 0;
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container h3 {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 700;
  color: #ef798a;
}

nav .container .actions label input {
  height: 0;
  width: 0;
  display: none;
}

nav .container .actions label span {
  font-family: "Quicksand", sans-serif;
  background: #ef798a;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

nav .container .actions label span:hover {
  background: #ea4b62;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop .modal-content-container {
  padding: 0 1rem;
}

.modal-backdrop .modal-content {
  width: 500px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.modal-backdrop .modal-content header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #ef798a;
  color: #fff;
  padding: 1.3rem 1rem;
  margin-bottom: 2rem;
}

.modal-backdrop .modal-content header a {
  color: #fff;
  font-size: 1.2rem;
}

.modal-backdrop .modal-content .file-selector .file-error {
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #fff;
  background: #613f75;
  padding: 1rem;
}

.modal-backdrop .modal-content .file-selector .file-success {
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #fff;
  background: #00b30033;
  color: green;
  padding: 1rem;
}

.modal-backdrop .modal-content label {
  margin: 1rem 0;
}

.modal-backdrop .modal-content label input {
  height: 0;
  width: 0;
}

.modal-backdrop .modal-content label .file-placeholder {
  height: 100px;
  width: 100%;
  border: 5px dashed #888;
  border-radius: 8px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-backdrop .modal-content label .file-placeholder:hover {
  border: 5px dashed #555;
  color: #555;
}

.modal-backdrop .modal-content .actions {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 1rem 0;
}

.modal-backdrop .modal-content .actions .danger-btn {
  margin-right: 12px;
}

.primary-btn {
  font-family: "Quicksand", sans-serif;
  outline: none;
  background: #ef798a;
  padding: 1rem 1.4rem;
  display: block;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.primary-btn:hover {
  background: #ea4b62;
}

.primary-btn:focus {
  outline: none;
}

.danger-btn {
  font-family: "Quicksand", sans-serif;
  outline: none;
  background: #888;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.danger-btn:hover {
  background: #6f6f6f;
}

.danger-btn:focus {
  outline: none;
}

.progress-bar {
  height: 5px;
  border-radius: 8px;
  background-color: #888;
  width: 100%;
  color: #fff;
  margin: 1rem 0;
  text-align: center;
  position: relative;
}

.progress-bar p {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  color: #171d1c;
  z-index: 2;
  transform: translateX(-50%);
}

.progress-bar .progress-width {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: #ef798a;
  width: 0%;
}

.img-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.img-grid .img {
  width: 200px;
  height: 200px;
}

.img-grid .img img {
  width: 100%;
  height: 100%;
}

.search-bar {
  padding: 3rem 4rem;
  text-align: center;
}

.search-bar h1 {
  font-family: "Noto Serif", serif;
  font-size: 400%;
  font-style: italic;
  font-weight: bold;
  color: #171d1c;
}

.search-bar .search-area {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-gap: 12px;
  width: 70%;
  margin: 1rem auto;
}

.search-bar .search-area input {
  padding: 0.8rem;
  background: #fff;
  border-radius: 8px;
  outline: none;
  border: 2px solid #ef798a;
  width: 100%;
  transition: all 0.4s;
}

.search-bar .search-area input:focus {
  box-shadow: 0 0 10px #f2909e;
}
/*# sourceMappingURL=styles.css.map */